@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./reset.css";
@import "./variables.css";
@import "./header.css";
@import "./tabBar.css";
@import "./postBar.css";
@import "./content.css";
@import "./sidebar.css";
@import "./layout.css";

body {
  min-width: 360px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: var(--color-black);
  color: var(--color-text);
}
